<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
	<link rel="apple-touch-icon" href="/favicon-57.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/favicon-144.png">
	<meta name="msapplication-config" content="/browserconfig.xml">
    <title>{{title}}</title>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {{!-- If you dont want to use Pure, delete out the snippet below --}}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
        {{addRemoteCSS "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css"}}
    <![endif]-->
    <!--[if gt IE 8]><!-->
        {{addRemoteCSS "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css"}}
    <!--<![endif]-->
    
    {{addRemoteCSS "http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco"}}

    {{addLocalCSS "/css/app.css"}}
    {{addLocalCSS "/css/side-menu.css"}}
    

    {{#remoteCSS}}
    <link rel="stylesheet" href="{{{.}}}">
    {{/remoteCSS}}

    {{#localCSS}}
      {{#if this.oldIE}}
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{{this.oldIE}}}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{{{this.path}}}">
        <!--<![endif]-->
      {{else}}
        <link rel="stylesheet" href="{{{this.path}}}">
      {{/if}}
    {{/localCSS}}

</head>

<body lang="en">

<div id="layout">
    
    {{> sidemenu}}

    <div id="main">

        {{{body}}}

    </div>

</div>

   
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {{!-- Uncomment the line below if you want to use Bootstrap's JS modules --}}
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    {{addLocalJS "/js/script.js"}}

    {{#localJS}}
        <script src="{{{.}}}"></script>
    {{/localJS}}
</body>

</html>
